.floating-orb-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  z-index: 100;
  background: transparent;
  border: none;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
}

@media (max-width: 1024px) {
  .floating-orb-container {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .floating-orb-container {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 480px) {
  .floating-orb-container {
    width: 150px;
    height: 150px;
  }
}
